.game {
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.img {
    width: 100px;
}

.btn {
    border: none;
    cursor: pointer;
    background: none;
}

.btn:hover {
    filter: drop-shadow(7px 7px 9px rgba(0, 0, 0, 0.2));
}

.result-text {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(67, 1, 248);
}